**/node_modules/

**/.env
**/.env.*
!.env.example

**/dist/
**/build/
**/.next/
**/.turbo/

*.log
logs/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

**/coverage/

.vite/
.cache/
.parcel-cache/
.eslintcache

*.tsbuildinfo

prisma/dev.db
prisma/dev.db-journal

uploads/
temp/
tmp/

*.dump

.vscode/
.idea/

.DS_Store
Thumbs.db

.vercel/